{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Management</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header_section">
      <center>
        <nav class="navbar">
          <div class="logo">
            <a href="#">
              <i class="fa fa-hospital-o hospital-logo" aria-hidden="true"></i>
              Hospital Management
            </a>
          </div>
          <div class="nav-bar">
            <a class="nav-link-title" href="home">Home</a>
            <a class="nav-link-title" href="pharmacy">Pharmacy</a>
            <a class="nav-link-title" href="contact-us">Contact Us</a>
            <a class="nav-link-title active" href="departments">Departments</a>
            <a class="nav-link-title" href="doctors">Doctors</a>
            <a href="signOut">
              <i class="fa fa-sign-out user-logo" aria-hidden="true"></i>
            </a>
          </div>
        </nav>
      </center>
    </div>
    <div class="contact_section layout_padding">
      <div >
        <form method="post" class="contact_box">
          <h1 class="book_text">Add Department</h1>
          {% if duplicate_name %}
          <div style="display: flex; align-items: center">
            <i class="fa fa-exclamation-circle warning" aria-hidden="true"></i>
            <span> Error: Department name already exists </span>
          </div>
          {% endif %}
          <input
            type="text"
            class="text_box"
            placeholder="Department Name"
            name="name"
            required
          />
          <textarea placeholder="Department Description" class="text_box text_area" name="description"></textarea>
          <div class="send_bt"><input type="submit" value="Proceed" /></div>
        </form>
      </div>
    </div>
  </body>
</html>
