{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Management</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{% static 'js-multiselect-dropdown-main/multi-select-dropdown.js' %}"></script>
  </head>
  <body>
    <div class="header_section">
      <center>
        <nav class="navbar">
          <div class="logo">
            <a href="#">
              <i class="fa fa-hospital-o hospital-logo" aria-hidden="true"></i>
              Hospital Management
            </a>
          </div>
          <div class="nav-bar">
            <a class="nav-link-title" href="home">Home</a>
            <a class="nav-link-title" href="pharmacy">Pharmacy</a>
            <a class="nav-link-title" href="contact-us">Contact Us</a>
            <a class="nav-link-title" href="departments"
              >Departments</a
            >
            <a class="nav-link-title active" href="doctors">Doctors</a>
            <a href="signOut">
              <i class="fa fa-sign-out user-logo" aria-hidden="true"></i>
            </a>
          </div>
        </nav>
      </center>
    </div>
    <div class="contact_section layout_padding">
      <div >
        <form method="post" class="contact_box">
          <h1 class="book_text">Add Doctor</h1>
          <input
            type="text"
            class="text_box"
            placeholder="Doctor Name"
            name="name"
            required
          />
          <select name="department" class="text_box select_box">
            <option value="">Select department</option>
            {% for dept in departments %}
            <option value="{{dept.id}}">{{dept.name}}</option>
            {% endfor %}
          </select>
          <input
            type="time"
            class="text_box"
            placeholder="OP start time"
            name="start_time"
            required
          />
          <input
            type="time"
            class="text_box"
            placeholder="OP end time"
            name="end_time"
            required
          />
          <div id="dropdownSelected"></div>
          <select
            class="text_box select_box"
            name="active_days"
            multiple
            search="false"
          >
            <option value="{{0}}">SUNDAY</option>
            <option value="{{1}}">MONDAY</option>
            <option value="{{2}}">TUESDAY</option>
            <option value="{{3}}">WEDNESDAY</option>
            <option value="{{4}}">THURSDAY</option>
            <option value="{{5}}">FRIDAY</option>
            <option value="{{6}}">SATURDAY</option>
          </select>
          <input
            type="number"
            class="text_box"
            placeholder="Consultation Charge"
            name="consultation_charge"
            required
          />
          <div class="send_bt"><input type="submit" value="Proceed" /></div>
        </form>
      </div>
    </div>
  </body>
</html>
