{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Management</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header_section">
      <center>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="logo">
            <a href="#">
              <i class="fa fa-hospital-o hospital-logo" aria-hidden="true"></i>
              Hospital Management
            </a>
          </div>
          <div class="nav-bar">
            <a class="nav-link nav-link-title active" href="home">Home</a>
            <a class="nav-link nav-link-title" href="pharmacy">Pharmacy</a>
            <a class="nav-link nav-link-title" href="contact">Contact Us</a>
            <a class="nav-link nav-link-title" href="departments"
              >Departments</a
            >
            <a class="nav-link nav-link-title" href="doctors">Doctors</a>
            {% if logged_in%}
            <a href="signOut">
              <i class="fa fa-sign-out user-logo" aria-hidden="true"></i>
            </a>
            {% else%}
            <a href="signIn">
              <i class="fa fa-user-plus user-logo" aria-hidden="true"></i>
            </a>
            {% endif%}
          </div>
        </nav>
      </center>
      <div class="banner_section">
        <div class="container">
          <div class="col-md-6">
            <h1 class="banner_taital">
              Health <br /><span style="color: #151515">Care</span>
            </h1>
            <div class="btn_main">
              <div class="op_ticket_bt">
                <a href="book-ticket">Book an OP Ticket</a>
              </div>
              <div class="contact_bt"><a href="#">Contact Now</a></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="image">
              <img src="{% static 'images/img-1.png' %}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
